{
  "env": {
    "node": true,
    "commonjs": false,
    "es2020": true
  },
  "extends": ["airbnb-base", "prettier", "plugin:node/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "plugins": ["prettier", "import", "node"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "node/file-extension-in-import": ["error", "always"],
    "import/newline-after-import": "error",
    "import/imports-first": ["error", "absolute-first"],
    "consistent-return": 0,
    "no-param-reassign": 0,
    "arrow-parens": 2,
    "linebreak-style": 0,
    "no-unused-vars": 1,
    "semi": ["error", "never"],
    "prettier/prettier": "error",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  }
}